.input{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.input input{
    height: 80%;
    width: 80%;
    border: none;
    padding-left: 20px;
}

.green{
    color: green;
}